
.bigImg img{
    max-height: 250px;
    width: 90%;
    margin-bottom: 40px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px,
    rgba(0, 0, 0, 0.72) 0px 30px 22px -10px ;
    border-radius: 20px 40px 60px 10px;
    border: 3px solid white;
}
.bigImg img:hover{
    transform: scale(1.04);
    box-shadow: rgba(255, 255, 255, 0.8) 0px 40px 58px -16px,
    rgba(255, 255, 255, 0.72) 0px 30px 22px -10px ;
}
.title{
    text-align: center;
    min-height: 60px;
}
.title h4{
    display: inline-block;
    color: white;
    margin: auto;
    width: 50%;
}