.detailCard {
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: 100% 100%, cover;
}
.name{
  color: white;
  margin-left: 50px;
}
.description h1{
  margin-top: 150px;
  margin-bottom: 50px;
}
.name h1{
  font-family: cursive;
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgb(29, 31, 159) 0%, rgb(14, 77, 100) 100.2% );
  display: inline-block;
}
.play button {
background-color: rgb(0, 110, 255);
color: white;
  margin: 20px;
  padding: 7px 30px;
  border: 3px white solid;
  font-size: 25px;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px,
  rgba(0, 0, 0, 0.72) 0px 30px 22px -10px ;
}
.play button:hover{
  transform: scale(1.04);
  
  box-shadow: rgba(255, 255, 255, 0.8) 0px 40px 58px -16px,
  rgba(255, 255, 255, 0.72) 0px 30px 22px -10px ;
}
.about{
  max-width: 500px;
  font-size: 20px;
}